* {
  padding: 0;
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
  background-color: gray;
  position: sticky;
  top: 0px;
}

.link {
  cursor: pointer;
  font-weight: 500;
  color: white;
  padding: 10px 25px;
  text-decoration: none;
  color: white;
}
.link:hover {
  background-color: white;
  color: black;
}

.hero_container {
  padding: 60px 40px;
}

.hero_image{
  height: 500px;
  padding: 10px;
  background-color: darkcyan;
  font-size: x-large;
}

.team_container {
  display: flex;
  flex-direction: column;
  padding-top: 60px;
  text-align: center;
}
.team_profiles {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 40px 15px;
}

.profile_image > img {
  width: 200px;
  height: 200px;
  border-radius: 100px;
}

.aboutUs {
  text-align: center;
  padding-top: 60px;
}

.aboutUs_container {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  justify-content: space-between;
}
.project_description {
  padding: 15px;
  text-align: left;
  background-color: gray;
  height: 400px;
  flex: 0.5;
  overflow: hidden;
}
.project_images {
  flex: 0.5;
  height: 400px;
  display: flex;
  flex-direction: column;
  margin: 0px 15px;
}
.project {
  background-color: aqua;
  height: 150px;
  margin-bottom: 20px;
}

.technologies_container {
  display: flex;
  text-align: center;
  flex-direction: column;
  padding-top: 60px;

}

.technologies_cards {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 20px;

}

.card {
  background-color: brown;
  width: 250px;
  height: 250px;
}


.contactUs{
  margin-top: 50px;
  text-align: center;
  font-weight: 500;
}
.footer{
  background-color: darkorchid;
  margin: 10px;
  padding: 20px ;
  text-decoration: none;
  color: white;
  font-weight: 200;

}
.footer  a {
  color: white;
}


